@import "inc/blockgroups";
@import "inc/blocktypes";

/* Overrides */
.image-block {
    .has-media-picker {
        .media-picker {
            background: rgba(0,0,0,.5);
            width: auto;
            top: calc(50% - 33px);
            left: calc(50% - 52px);
            padding: 1rem;
            margin-top: 0;

            .btn-group {
                .btn-aspect,
                .aspect-menu {
                    display: none;
                }

                .btn-primary {
                    border-top-left-radius: 0.25rem;
                    border-bottom-left-radius: 0.25rem;
                }
            }

            .card {
                display: none;
            }
        }

        &.empty {
            background-image: url("/manager/assets/img/empty-image.png");
            background-repeat: no-repeat;
            background-position: center;
            min-height: 12rem;

            .media-picker {
                left: calc(50% - 34px);

                .btn-group {
                    .btn-primary {
                        border-radius: 0.25rem;
                    }

                    .btn-danger {
                        display: none;
                    }
                }
            }
        }
    }
}
