@model Innologix.Layouts.Blocks.ThreeColumnVImageAndTextBlock

<div class="row block block-grp-3col">
    @for (var n = 0; n < Model.Items.Count; n++)
    {
        <div class="col">
            @Html.DisplayFor(m => Model.Items[n], Model.Items[n].GetType().Name)
        </div>
    }
</div>
