@import "variables";

.blocktype {
    overflow: hidden;

    .btn {
        &.svg-icon {
            padding: 1px;

            .svg-wrapper {
                border: 1px solid $gray-300;
                height: 67px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position-y: center;
            }
        }
    }
}
