@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "variables";

.block {
    &.block-group-collapsible,
    &.block-group-tabs,
    &.image-text-block,
    &.block-grp-2col-image-text,
    &.block-grp-2col-v-image-text {

        &:hover, &:focus-within {
            .block:not(.danger):not(.collapsed) {
                border-color: transparent;
            }
        }

        .block-group-actions {
            opacity: 0;
            right: 5rem;
        }

        > .block-header {
            .title {
                i {
                    position: absolute;
                    margin-top: 0;
                    top: 0.7rem;
                    font-size: 1.25rem;
                }

                strong {
                    margin-left: 2rem;
                }
            }

            .actions {
                .btn:first-child {
                    display: none;
                }
            }
        }
    }

    &.block-group-collapsible {
        padding-top: 2.5rem;
        padding-bottom: 1rem;

        .block {
            padding-bottom: 1rem;
            padding-left: 0.25rem;
            padding-right: 0.25rem;
            margin-left: -0.25rem;
            margin-right: -0.25rem;

            .block-header {
                opacity: 1;
                padding-bottom: 0;
                padding: .5rem .5rem;

                .title {
                    min-width: 200px;
                    width: calc(100% - 95px);

                    div {
                        color: $gray-900;
                        line-height: 1.75rem;
                        font-size: large;
                    }

                    &.empty-text {
                        opacity: 0.4;

                        &:focus-within {
                            opacity: 1;
                        }
                    }
                }

                .actions {
                    opacity: 0;
                    padding-top: .3rem;
                }
            }

            hr.divider {
                margin-top: 0;
                margin-bottom: .5rem;
            }

            &.collapsed {
                hr.divider,
                .block-body-wrapper {
                    display: none;
                }
            }

            .mce-content-body {
                min-height: 8rem;
            }

            .tox-tinymce {
                position: absolute;
                top: 10px;
                width: auto !important;
            }
        }
    }
    /* tabs css */
    &.block-group-tabs {
        padding-bottom: 1rem;

        .block {
            padding: .5rem 0;
        }

        .tox-tinymce {
            position: absolute;
            top: 10px;
            width: auto !important;
        }

        .list-group {
            padding-bottom: 1px;
            border-bottom: 1.5px solid $gray-200;
            flex-direction: row;

            .sortable-placeholder {
                width: 10rem;
            }
        }

        .list-group-item {
            background: $white;
            padding: 0 1.5rem 0 2.5rem;
            border: 1.5px solid $gray-200;
            margin-right: 0.3rem;
            min-width: 10rem;

            .actions {
                position: absolute;
                top: 0px;
                right: 0px;

                a {
                    color: $gray-500;
                    height: 1.25rem;
                    width: 1.25rem;
                    line-height: 1.25rem;

                    &:hover {
                        color: $danger;
                        background-color: transparent;
                    }
                }
            }

            .handle {
                color: $gray-600;
                position: absolute;
                left: 0;
                width: 2rem;
                border-right: solid 1px $gray-200;
                text-align: center;

                i {
                    font-size: 0.9rem;
                }
            }

            a.item-link {
                display: block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: 2.75rem;
                text-decoration: none;

                &.empty-text {
                    div:not(.handle) {
                        color: $gray-900;
                        opacity: 0.4;

                        &:focus-within {
                            color: $blue;
                            opacity: 1;
                        }
                    }
                }
            }

            &.active {
                border-color: $gray-300;
                background-color: $gray-200;
                color: $gray-800;
                font-weight: bold;
                z-index: auto;

                .handle {
                    border-color: $gray-300;
                }
            }
        }
    }
    /* Image and text bloc css*/
    &.image-text-block {
        padding-bottom: 1.75rem;

        .image-block {
            flex: 0 0 42%;
            max-width: 42%;

            &:hover, &:focus-within {
                .media-picker {
                    opacity: 1 !important;
                }
            }
        }

        .content-block {
            padding-left: 0;

            .title {
                padding: 0.5rem;
                font-size: large;
                border: 1px dotted $gray-400;
                ;

                &.empty:not(:focus-within) {
                    div {
                        opacity: 0.4;
                    }
                }
            }

            .description {
                background-color: $white;
                min-height: calc(100% - 3.2rem);
                padding: 0.5rem;
                display: flex;
                border: 1px dotted $gray-400;
                margin-top: 5px;

                .mce-content-body {
                    width: 100%;
                }

                .tox-tinymce {
                    position: absolute;
                    left: -2px;
                    top: 0.75rem;
                    width: 29rem;
                    z-index: 100;
                }

                &:hover, &:focus-within {
                    .tiny-brand {
                        display: block;
                        bottom: -1.2rem;
                        right: 1.5rem;
                    }
                }

                &.empty:not(:focus-within) {
                    .mce-content-body {
                        opacity: 0.4;
                    }
                }
            }
        }
    }

    &.block-grp-2col-3images {
        padding-bottom: 1.75rem;

        .grp-block-1 {
            flex: 0 0 36%;
            max-width: 36%;
            margin: -1rem;

            .image-block {
                padding: 1rem;

                .block-body {
                    min-height: 8rem;

                    &.empty {
                        min-height: 12rem;
                    }
                }
            }
        }

        .grp-block-2 {
            display: flex;

            .image-block {
                width: 100%;

                .block-body {
                    height: 100%;
                }
            }
        }

        .image-block {
            padding: 0;

            &:focus-within, &:hover {
                border-color: transparent;
            }
        }
    }

    &.block-grp-2col-image-text,
    &.block-grp-2col-v-image-text,
    &.block-grp-3col-v-image-text,
    &.block-grp-4col-v-image-text {
        padding-bottom: 1.75rem;

        .image-text-block {
            padding: 0;

            .mce-content-body {
                min-height: initial;
            }


            &:focus-within, &:hover {
                border-color: transparent;
            }
        }
    }

    &.block-grp-2col-v-image-text,
    &.block-grp-3col-v-image-text,
    &.block-grp-4col-v-image-text {
        .image-text-block {
            .block-body {
                flex-direction: column;

                .image-block {
                    flex: initial;
                    max-width: initial;
                }

                .content-block {
                    padding-top: 1rem;
                    padding-left: 15px;

                    .description {
                        min-height: 6rem;

                        .tox-tinymce {
                            top: 2rem;
                            left: 13px;
                        }
                    }
                }
            }
        }
    }

    &.block-grp-4col-v-image-text {
        .image-text-block {
            .description {
                display: none;
            }
        }
    }

    &:hover, &:focus-within {
        .actions {
            opacity: 1 !important;
        }
    }
}
