@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "variables";

.block {
    border-radius: 0;

    &.block-group-collapsible,
    &.block-group-tabs,
    &.image-caption-block {
        background: $gray-100;

        .block-group-header {
            background: $gray-100;
            padding: 1rem;
            margin-bottom: 1rem;
            border-radius: .25rem;
        }

        &:hover, &:focus-within {
            .block:not(.danger):not(.collapsed) {
                border-color: transparent;
            }
        }

        .block-group-actions {
            opacity: 0;
            right: 5rem;
        }

        .actions {
            .btn {
                background: $white;
            }
        }

        > .block-header {
            .title {
                i {
                    position: absolute;
                    margin-top: 0;
                    top: 0.7rem;
                    font-size: 1.25rem;
                }

                strong {
                    margin-left: 2rem;
                }
            }

            .actions {
                .btn:first-child {
                    display: none;
                }
            }
        }

        .block {
            background: $white;

            .mce-content-body {
                min-height: 8rem;
            }

            .tiny-brand {
                bottom: 0;
            }
        }
    }

    &.block-group-collapsible {
        padding-bottom: 1.75rem;

        .block {
            padding-bottom: 1rem;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            margin-bottom: 1rem;

            .block-header {
                opacity: 1;
                padding-bottom: 0;
                padding: .5rem .5rem;

                .title {
                    min-width: 200px;
                    width: calc(100% - 95px);

                    div {
                        color: $gray-900;
                        line-height: 1.75rem;
                        font-size: large;
                    }

                    &.empty-text {
                        opacity: 0.4;

                        &:focus-within {
                            opacity: 1;
                        }
                    }
                }

                .actions {
                    opacity: 0;
                    padding-top: .3rem;
                }
            }

            hr.divider {
                margin-top: 0;
                margin-bottom: .5rem;
            }

            &.collapsed {
                hr.divider,
                .block-body-wrapper {
                    display: none;
                }
            }

            .tox-tinymce {
                position: absolute;
                top: 10px;
                width: auto !important;
            }
        }
    }
    /* tabs css */
    &.block-group-tabs {
        padding-bottom: 2.75rem;

        .block {
            padding: .5rem;
        }

        .tox-tinymce {
            position: absolute;
            top: 10px;
            width: auto !important;
        }

        .list-group {
            border-bottom: none;
            flex-direction: row;

            .sortable-placeholder {
                width: 10rem;
            }
        }

        .list-group-item {
            background: $white;
            padding: 0 1.5rem 0 2.5rem;
            border-color: $gray-200;
            border-bottom: 2px solid $gray-200;
            margin-right: 0.3rem;
            min-width: 10rem;

            .actions {
                position: absolute;
                top: 0px;
                right: 0px;

                a {
                    color: $gray-500;
                    height: 1.25rem;
                    width: 1.25rem;
                    line-height: 1.25rem;

                    &:hover {
                        color: $danger;
                        background-color: transparent;
                    }
                }
            }

            .handle {
                color: $gray-600;
                position: absolute;
                left: 0;
                width: 2rem;
                border-right: solid 1px $gray-200;
                text-align: center;

                i {
                    font-size: 0.9rem;
                }
            }

            a.item-link {
                display: block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: 2.75rem;

                &.empty-text {
                    text-decoration: none;

                    div:not(.handle) {
                        color: $gray-900;
                        opacity: 0.4;

                        &:focus-within {
                            color: $blue;
                            opacity: 1;
                            text-decoration: underline;
                        }
                    }
                }
            }

            &.active {
                border-color: $gray-200;
                color: $gray-800;
                font-weight: bold;
                z-index: auto;

                .handle {
                    border-color: $gray-300;
                }
            }
        }
    }

    &.image-caption-block {
        .image-block {
            .has-media-picker {
                &.empty {
                    border: .1rem solid $white;
                }
            }

            &:hover, &:focus-within {
                .media-picker {
                    opacity: 1 !important;
                }
            }
        }

        .block-body {
            padding-left: 0;

            .title {
                &.empty:not(:focus-within) {
                    div {
                        opacity: 0.4;
                    }
                }

                background: white;
                margin-bottom: .1rem;
                padding: .5rem;
                font-size: large;
            }

            .description {
                background-color: $white;
                border: 0.1rem solid $white;
                min-height: calc(100% - 2.7rem);
                padding: 0.5rem;
                display: flex;

                .mce-content-body {
                    width: 100%;
                }

                &.empty:not(:focus-within) {
                    background: url(../img/empty-text.png) 50% 50% no-repeat $gray-100;
                }

                .tox-tinymce {
                    position: absolute;
                    top: 0.5rem;
                    left: 0;
                    width: 29rem;
                    z-index: 100;
                }

                &:hover:focus-within {
                    .tiny-brand {
                        display: block;
                        bottom: 0;
                        right: 1.5rem;
                    }
                }
            }
        }
    }

    &:hover, &:focus-within {
        .actions {
            opacity: 1 !important;
        }
    }
}
